<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body >
    <h1>welcome</h1>
    
    <table class="table">
        <tr>
            <td>username</td>
        <td><input type="text" class="form-control"></td>    
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password"class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="login" class="btn btn-success"></td>
        </tr>
    </table>
</body>
</html>